<mat-toolbar class="header" color="primary">
  <ul class="items">
    <li>
      <mat-icon>directions_car</mat-icon>
      <b><sup>Transport Facility</sup></b>
    </li>
    <li>
      <a
        mat-raised-button
        color="primary"
        class="item"
        [routerLink]="['/createride']"
        >Create</a
      >
    </li>
    <li>
      <a
        mat-raised-button
        color="primary"
        class="item"
        [routerLink]="['/pickride']"
        >Pick</a
      >
    </li>
  </ul>
</mat-toolbar>
